* {
    margin: 0;
    padding: 0;
    box-sizing:border-box; 
}
body{
    background-color: rgb(234, 122, 122);
}
header{
    background-color: rgb(236, 216, 216);
    color:rgb(126, 69, 69)
}
.menu li{
    background-color: rgb(187, 134, 134);
    list-style: none;
    padding: 5px;
    font:bold 14px verdana;
    display: inline-block;
    color: black;
}
img{
    width: 100px;
    display:block;
}

section{
    width: 250px;
    background-color: rgb(135, 131, 130);
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    border-radius: 4px;
    font-family: 'Calibri';
}

section h4{
    font-size: 20px;
    margin-bottom: 10px;
}
input{
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid black;
    font-family: 'Calibri';
    font-size: 13px;
}
section p {
    height: 30px;
    text-align: center;
    font-size: 10px;
    line-height: 30px;
}
section a {
    color: white;
    text-decoration: none;
}
section a:hover {
    color: white;
    text-decoration: underline;
}
section.boton{
    width: 100%;
    background-color: rgb(175, 175, 197);
    border: none;
    padding: 12px;
    color: white;
    margin: 12px 0;
    font-size: 10px;
}