* {
    margin: 0;
    padding: 0;
   
}body{
	margin: 0;
	padding: 0;
	background: url(../Imagenes/Torta\ dulce\ de\ mora\ artesanal2.jpeg) no-repeat center top ;
	background-size: 100%;
	background-position: center;
	font-family: sans-serif;
	height: 100vh;	
}
.menu {
    background-color:rgb(236,216, 216);  
    width: 100%;   
    height: 80px;    
   
}
.menu :hover {
   color: rgb(132, 78, 105);
   
}
ul {
margin: 0%;
padding: 0%;
}
nav ul .menu1 {
    background-color:rgb(40, 35, 35);
    height: 80px;   
    text-align: left;
    
}
nav a {
    font-family: 'Lucida Bright';
    font-size: x-large;
    text-decoration: none;
    color: black;
    width: 180px;
}
.home{
    padding: 30px;
    width: 40px;

}
.panaderia {
    margin-top: 10px;
    margin-left: -11%;
    height: 20px;
    padding: 20px;    
    background-color: rgb(126, 69, 69);    
}
.panaderia a {
    font-family: 'Montserrat';
    color: white;
}
nav li {
    font-style: oblique;
    display: inline-flex; 
    padding:0% 26px;   
    
}
.registro-box{
	position: absolute;
	top: 57%;
	left: 50%;
	width: 250px;
	padding: 10px;
	transform: translate(-50%, -50%);
	background: rgb(236,216, 216);
	box-shadow: 0 20px 30px white;
	border-radius: 10px;
	height: auto;
}
.registro-box h2{
	margin: 0 0 20px;
	padding: 0;
	color: rgb(204, 140, 140);
	text-align: center;
}
.registro-box .usuario-box input{
	position: relative;
	width: 95%;
	padding: 3px 0;
	font-size: 14px;
	color: rgb(189, 108, 108);
	margin-bottom: 10px;
	border: transparent;
	border-bottom: 2PX solid rgb(196,155,175);
	border-left: 2PX solid white;
	outline: none;
	background: rgb(236,216, 216);
	border-radius: 2px;
	border-top: rgb(236,216, 216);
}
.registro-box .usuario-box label{
	position: relative;
	left: 5px;
	top: -35px;
	padding: 10px 0;
	font-size: 16px;
	color: rgb(126, 69, 69);
	pointer-events: none;
	transition: .5s;
}
.registro-box .usuario-box input:focus~label,
.registro-box .usuario-box input:valid~label{
	top: -55px;
	left: 0;
	color: white;
	font-size: 14px;
}

#submit {
	padding: 10px 10px;
	color: rgb(189, 108, 108);
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition: .5s;
	letter-spacing: 4px;
	border: 1px solid white;
	margin: auto;
}
#submit:hover {
	background: white;
	color:rgb(126, 69, 69);
	border-radius: 5px;
	box-shadow: 0 0 5px white, 0 0 25px white, 0 0 50px white, 0 0 100px white;
}
.button-form{
	display: flex;
	flex-direction: row;
	margin-top: 0px;
}
#registrar{
	font-size: 13px;
	text-decoration: none;
	color: rgb(204, 140, 140);
	margin: auto;
	width: 50%;
	text-align: center;
}
#registrar a {
	margin: 0;
	color: rgb(204, 140, 140);
	text-decoration: none;
}

