body{
    padding: 0;
    margin: 0;  


}

.menu {
    background-color:rgb(236, 216, 216); 
    border: 3px solid white; 
    border-right: 0px; 
      
      
}
ul {
    margin: 0px;
    padding: 0px;
     
}
.logo img {     
    margin-left: 1250px;    
    margin-top: -180px;
    margin-bottom: 5px;
    width: 60px;    
         
}
nav ul .menu1 {
    background-color:rgb(236, 216, 216);          
    text-align: left;
    
}
nav li :not(nav li:nth-child(1)):hover {
    color: rgb(232, 78, 105);
    
}
nav a {
    font-style: oblique;
    font-size: x-large;
    text-decoration: none;
    color: black;
    padding: 5px;     
    width: 230px;
    transition: all 1s;
    
}
nav a:hover{
    width: 150px;

}
.panaderia {    
    margin-top: 10px;    
    height: 10px;
    padding: 20px;
    padding-bottom: 30px;
    padding-top: 10px;
    padding-right: 0px;
    margin-left: -10%;    
    background-color: rgb(187, 134, 134); 
    
}
.panaderia a {
    font-style: oblique;
    color: white;
      

}
nav li {
    display: inline-flex; 
       

}
nav li :not(nav li:nth-child(1-2)) {    
    padding: 0% 10px; 
    width: 180px;  
}
.home {
    
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: -50px;
    padding-right: 40px;
    width: 20px;
}
.imagen {
    width: 100%;
    height: 467px;
    border: 3px solid white;
    border-right: 0px;
}
.seccion {
    display: flex;
    align-items: center;    
    background-color:rgb(126, 69 , 69);    
}
.seccion img:not(.seccion img:nth-child(3)) {
    width: 350px;
}
.primer_parrafo {
    border: 4px solid rgb(187, 134, 134);
    
    
}
.torta2 {
    width: 350px;
}

h1 {
    text-align: center;
    color: rgb(236, 216, 216);
    font-style: oblique;
    font-size: 60px;
    
}
.seccion .todo-parrafo {
    text-align: center;    
    display: flex;
    align-items: center;
    padding: 40px;
    padding-top: 20px;
    font-size: 30px;
    color: white;
    font-style: oblique;
}
footer {
    border: 3px solid white;  
    border-right: 0px;
    width: 100%;
    height: 90px;
    background-color: rgb(236, 216, 216);
    color: black;
    margin-top: 0px;
    text-align: center;
}
footer ul li  {
    display: inline-flex;
    width: 100px;
    margin-top: 20px;
   
    
    
}



